@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  .center-elements {
        @apply flex justify-center items-center flex-col
    }
    .btn {
        @apply   rounded-full text-lg  transition duration-300
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181e2a;
}

